.git/
__pycache__/
_grids/
grids/
_temp/
venv/
*.ico
*.pyc
*.bak
*- Copie*.py
*.zip
config/grid2img_settings.json
config/ui_settings.json
_PUBLISH.BAT
_update-version.ps1
Desktop.ini
node.zip
README_*
TODO.txt
